{% load static from staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
  var data = {{ data|safe }};
</script>

<div class="container"> 
   <div class="row"> 

	<div align="left">
 <img src="http://s2.glbimg.com/ihC0VktkJIutrmQ9c3_n51bKVVw=/fit-in/134x134/s.glbimg.com/gl/at/f/photo_static/original/2017/08/08/icone_gestao_de_atendimento-04.png" class="img-responsive img-rounded" height="122" width="122"> 

 </div>


<h4> Resultados encontrados: </h4> 

<br/> 


  
   {% for i in obj %}

   
   <div class="list-group">
   
    <h4 class="list-group-item-heading"> <a href="/body/{{i.number}}" class=""> 
    	

    	<span class="glyphicon glyphicon-chevron-right
" aria-hidden="true"></span> {{i.short_description}}  
    

    </a></h4>
    
     

    
</div>

  {% endfor %}


 
<a href="/"> 
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 Voltar 
</a>




<div> 
<div> 

</div> 